
@{
    ViewBag.Title = "AdminView";
}

<div class="outer-Container">

    <div ng-repeat="item in filteredFriends">
        <div class="button-user-name">{{item.FullName}}</div>
        <br />
    </div>

    <div class="box sidebar2">
        <div class="sidebar1-title">
            <div class="nameandicon">
                <p>گروه ها:</p>
            </div>
            <div class="nameandicon">
                <a href="~/Group/MakeGroup" class="sidebar1-title-icon" title="ساختن گروه">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                @*<a ng-click="refreshFriends()" class="sidebar1-title-icon" title="به‌روزرسانی مخاطبین">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>*@
            </div>
        </div>


        <div ng-repeat="item in groups">
            <div class="user-button-container">
                <a ng-click="selectGp(item.GroupId)"
                   class="user-button"
                   ng-class="{'user-button-selected': item.GroupId === groupId}">
                    <div class="button-user-pic">
                        <i class="fa fa-user-circle"></i>
                        <div class="button-user-name">{{item.GroupName}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="box main1">

        <div class="name-of-user">
            <div class="nameandicon">
                <i class="fa fa-user-circle"></i>
                <p class="friendName-" id="GpName" ng-hide="editingName"> >{{groupName}}</p>
                <input type="text" placeholder="نام جدید گروه خود را وارد کنید" ng-model="groupName" ng-show="editingName" />
            </div>
            <div class="nameandicon">
                <a ng-click="EditGpName()" class="button-edit-icon" title="ویرایش نام گروه">
                    <i class="fa" ng-class="editingName ? 'fa-check' : 'fa-pencil'" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div id="messageContainer">

        </div>

        <div class="input-container">
            <div class="input-container">
                <input class="type-message" id="send-input" ng-keypress="checkEnter($event)" type="text" ng-model="message" placeholder="پیام خود را تایپ کنید" />
                <a ng-click="sendM()" class="send-icon" id="send-button" title="ارسال">
                    <i class="fa fa-paper-plane"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="box sidebar3">
        <div class="sidebar1-title">
            <div class="nameandicon">
                <p>اعضا:</p>
            </div>
            <div class="nameandicon">
                <a href="~/Group/AddUserToGp" class="sidebar1-title-icon" title="افزودن عضو">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div id="GpUsersContainer">

        </div>
    </div>

</div>

@section Script{
    <script src="~/Content/Scripts/User_Group.js"></script>
}






