html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body-container{
    margin:0;
}

.body-content{
    margin:10px 150px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: 'dastnevis';
    src: url('danstevis.otf') format('opentype');
}

@font-face {
    font-family: 'exo-lightitalic';
    src: url('exo-lightitalic.otf') format('opentype');
}
body {
    /*margin-bottom: 60px;*/
    font-family: dastnevis,exo-lightitalic;
    background-color: #78c595;
}

.div1 {
    margin-bottom: 15px;
}

.input-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
}

.submit-login {
    width: 40%
}

input[type="reset"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
    width: 40%
}

.h1_1 {
    font-size: 30px;
    margin: 20px auto 50px auto;
    text-align: center;
}

.form-1 {
    direction: rtl;
    margin: 50px auto;
    background: #2dd7ee;
    padding: 50px 100px;
    border-radius: 20px;
    width: 40%;
}

label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    font-size: 20px;
    width: 100%
}

.a_h {
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
    color: rgb(45, 27, 124);
    font-family: Tahoma;
}

.outer-Container {
    background-color: rgb(228, 240, 239);
    border: 2px solid black;
    display: flex;
    height: 80vh;
    margin-bottom:20px;
}

#messageContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.box {
    line-height: 300px;
    overflow-y: auto;
}

.main1 {
    width: 75%;
    flex-grow: 1;
    background-image: url(../img/Chat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.Gp-chat {
}

.sidebar1 {
    width: 20%;
    background-color: rgb(186, 245, 48);
}

.sidebar2 {
    width: 15%;
    background-color: rgb(186, 245, 48);
}

.sidebar3 {
    width: 15%;
    background-color: orangered;
    border-right: 2px solid black;
}

.sidebar1-title {
    width: 100%;
    border-bottom: 4px dotted black;
    border-left: 2px solid black;
    color: black;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
    line-height: normal;
    background-color: lightgreen;
    vertical-align: middle;
}

.sidebar1-title-icon {
    font-size: 30px;
    color: black;
    margin-left: 5px;
    background-color: lightgreen;
    padding: 1px 10px;
}

    .sidebar1-title-icon:hover {
        color: green;
        white-space: nowrap;
        background-color: #9fbddf;
        cursor: pointer;
    }

    .user-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 30px;
    }


.user-button {
    text-decoration: none;
    width: 100%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    line-height: normal;
    background-color: white;
}
    .user-button:hover {
        cursor : pointer;
        background-color: #9fbddf;
    }

.user-button-selected {
    background-color: cornflowerblue;
    color: white;
}

.ub-modal {
    border-left: none;
    font-size: 25px;
}

.user-button2 {
    text-decoration: none;
    width: 100%;
    border-bottom: 2px solid black;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    line-height: normal;
    background-color: white;
}

/*    .user-button2:hover {
        background-color: wheat;
    }*/

.button-user-pic {
    display: flex;
}

.button-user-name{
    margin-right:10px;
}

.button-edit-icon {
    font-size: 30px;
    color: black;
    margin-left: 5px;
    background-color: white;
    padding: 1px 10px;
}

    .button-edit-icon:hover {
        color: green;
        white-space: nowrap;
        background-color: #9fbddf;
        cursor:pointer;
    }

.name-of-user {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0 15px;
    background-color: white;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

    .name-of-user i {
        margin-top:10px;
    }

.friendName- {
    margin-right: 10px;
    margin-top: 1px;
    padding-top: 1px;
    font-size: 30px;
}

.nameandicon {
    display: flex;
    vertical-align: middle;
}

.message-box {
    background-color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: fit-content;
    max-width: 60%;
    position: relative;
    word-wrap: break-word;
    display: inline-block;
    line-height: normal;
    clear: both;
}

.message-text {
    padding: 0px 20px;
    font-size: 20px;
    color: black;
}

.message-info {
    font-size: 15px;
    color: grey;
    margin-top: 5px;
    text-align: right;
}

.message-date{
    margin-right:20px;
}

.message {
    font-size: 20px;
    line-height: normal;
    padding: 10px 30px;
    max-width: 60%;
    word-wrap: break-word;
    margin: 10px 0;
    display: inline-block;
}

.m-receive {
    background-color: white;
    margin-right: auto;
    float: left;
}

.m-send {
    background-color: rgb(142, 238, 155);
    margin-left: auto;
}


.input-container {
    line-height: normal;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.type-message {
    width: 100%;
    font-size: 20px;
    padding : 20px;
    border-radius: 5px;
}

.send-icon {
    position: absolute;
    left: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #007bff;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}

    .send-icon i {
        transform: rotate(-30deg);
    }

    .send-icon:hover {
        color: #0056b3;
    }

.send-button {
    width: 10%;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #3c8b3e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.select-box {
    width: 100%;
    height: 40px;
    font-size: 20px;
}

.AddFriend-submit {
    width: 100%;
}

.Remember-container{
    display:flex;
}

.chBox-Remember {
    font-size: 20px;
    width: auto;
    margin-left : 20px;
}

.link-ToRegister {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin-right: 120px;
}

.red-box {
    font-size: 30px;
    background-color: rgb(204, 149, 149);
    color: rgb(158, 15, 15);
    text-align: center;
    margin: 100px 80px;
    padding: 50px 0;
}

.Add-button {
    width: 50%;
    display: inline-block;
    font-size: 30px;
    padding: 20px 20px;
    margin: 30px 10px;
    background-color: #4e3980;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.lyt-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 5px 20px;
}

    .lyt-link:hover {
        color: black;
        background-color: rgb(197, 214, 102);
    }

.lyt-header {
    width: 100%;
    background-color: #8b575b;
    padding: 5px 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.lyt-title {
    font-size: 30px;
}

.item-1 {
    display: flex;
    margin: 0 60px;
}

.lyt-center {
    margin-left: auto;
    margin-right: auto;
    order: 1;
    font-size:30px;
    color:rgb(119, 172, 108);
}

.lyt-right {
    display:flex;
    margin-left: auto;
}

.lyt-left {
    margin-right: auto;
}

.limit-h{
    height:50vh;
}

.modall {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.mod-content {
    background-color: white;
    margin: 120px auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 400px;
}

.modall2 {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content2 {
    background-color: lightgoldenrodyellow;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    font-size:25px;
}

    .modal-content2 button:first-of-type {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .modal-content2 button:nth-of-type(2) {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

.red-info {
    color: rgb(129, 9, 9);
    padding : 5px;
    border : 1px solid black;
    background-color: rgb(236, 147, 147);
    border-radius:5px;
}

.green-info {
    color: rgb(9, 129, 9);
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(147, 236, 147);
    border-radius: 5px;
}